flask==3.0.0
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
email_validator
python-dotenv
opencv-python-headless
deepface
ultralytics
SpeechRecognition
pypdf
python-docx
google-genai
gunicorn
psycopg2-binary
pytest
SQLAlchemy>=2.0
werkzeug>=3.0
sendgrid
